.summon_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.name {
    margin-top: 0vh;
}

.summon_card {
    height: 60vh;
    width: 85vw;
}

.gif {
    border: 2px #282c34 solid;
    border-radius: 15px;
    max-width: 85vw;
    max-height: 60vh;
}