$platinum: #E3E3DD;
$cinereous: #A4998E;
$gunmetal: #293132;
$jet: #474044;
$gray: #4F5165;

.summon_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.name {
    margin-top: 0vh;
}

.summon_card {
    height: 60vh;
    width: 85vw;
}

.gif {
    border-radius: 15px;
    max-width: 85vw;
    max-height: 60vh;
    background-color: $cinereous;
    border: 3px solid $gunmetal;
    box-shadow: $gunmetal 4px 4px 0 0;
}

.box {
    max-width: 80vw;
}