$platinum: #E3E3DD;
$cinereous: #A4998E;
$gunmetal: #293132;
$jet: #474044;
$gray: #4F5165;

.summon_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.name {
    margin-top: 0vh;
}

.summon_card {
    height: 100%;
    width: 100%;
    margin-top: 5vh;
}

.summon_gif {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes newgif {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.newgif {
    color: mediumvioletred;
    font-size: xx-large;
    animation: newgif 1s 1 linear;
}

.gif {
    border-radius: 15px;
    max-width: 85vw;
    max-height: 60vh;
    background-color: $cinereous;
    border: 3px solid $gunmetal;
    box-shadow: $gunmetal 4px 4px 0 0;
}

.box {
    max-width: 80vw;
}

.buttons-summon {
    display: flex;
    flex-direction: column;
    align-items: center;
}